<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">  
</head>
<body>
    <div class="simple-text-page">

    <h1>Profile</h1>
    <p>Name: {{ user_info['userinfo']['name'] }}</p>
    <p>Nickname: {{ user_info['userinfo']['nickname'] }}</p>
    <button class="transparent-text-button" onclick="location.href='{{ url_for('overview') }}'">Back to Overview</button>
</div>
</body>
</html>