<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🧹 Image Sweeper</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Include jQuery before your script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <div class="image-buttons-container">
            <!-- "Continue from here" button-->
            <form action="{{ url_for('continue_clicked', position='left', sweep_session_id=sweep_session_id,clicked_img_path=img_path_left, other_img_path=img_path_right) }}" method="post">
                <input type="hidden" name="img_path" value="{{ url_for('media', filename=img_path_left) }}">
                <button type="submit" class="continue-button-left"><img  alt="Continue from here -> keep other"></button>
            </form>
            <!-- Image button -->
            <form action="{{ url_for('image_clicked', position='left', sweep_session_id=sweep_session_id,clicked_img_path=img_path_left, other_img_path=img_path_right) }}" method="post">
                <input type="hidden" name="img_path" value="{{ url_for('media', filename=img_path_left) }}">
                <button type="submit" class="button"><img src="{{ url_for('media', filename=img_path_left) }}" alt="Left Button Image"></button>
            </form>
            <!-- "Continue from here" button-->
            <form action="{{ url_for('continue_clicked', position='right', sweep_session_id=sweep_session_id,clicked_img_path=img_path_right, other_img_path=img_path_left) }}" method="post">
                <input type="hidden" name="img_path" value="{{ url_for('media', filename=img_path_right) }}">
                <button type="submit" class="continue-button-right"><img  alt="Continue from here -> keep other"></button>
            </form>
            <!-- Image button -->
            <form action="{{ url_for('image_clicked', position='right', sweep_session_id=sweep_session_id,clicked_img_path=img_path_right, other_img_path=img_path_left) }}" method="post">
                <input type="hidden" name="img_path" value="{{ url_for('media', filename=img_path_right) }}">
                <button type="submit" class="button"><img src="{{ url_for('media', filename=img_path_right) }}" alt="Right Button Image"></button>
            </form>
        </div>
        <!-- TODO decide whether this is actually useful-->
        <!-- <div class="centered-button">
            <a href="{{ url_for('select_seed_image') }}" class="button">🌱 Select new seed image</a>
        </div> -->
        <div class="end-session-button">
            <a href="{{ url_for('end_session') }}" class="button">⏸️ Pause session</a>
        </div>
    </div>

<script>
// Variables to track panning state
let isPanning = false;
let startX, startY;
let targetElement;

function zoomOnMouseWheel(event) {
  event.preventDefault();

  // Get current transform and scale
  var currentTransform = window.getComputedStyle(targetElement).transform;
  var currentScale = currentTransform && currentTransform !== 'none' ?
    parseFloat(currentTransform.match(/matrix\((.+)\)/)[1].split(',')[0]) : 1;

  // Define zoom step and calculate new scale
  var scaleStep = 0.05; // Amount to zoom per wheel spin
  var newScale = event.deltaY > 0 ? currentScale * (1 + scaleStep) : currentScale / (1 + scaleStep);

  // Calculate mouse position relative to the image
  var rect = targetElement.getBoundingClientRect();
  var x = event.offsetX; // x position relative to the target element.
  var y = event.offsetY; // y position relative to the target element.

  // Calculate center of zoom area based on new scale
  var zoomAreaWidth = event.deltaY > 0 ? targetElement.width * scaleStep : targetElement.width / (1 + scaleStep);
  var zoomAreaHeight = event.deltaY > 0 ? targetElement.height * scaleStep : targetElement.height / (1 + scaleStep);
  var centerX = x + zoomAreaWidth / 2;
  var centerY = y + zoomAreaHeight / 2;

  // Convert center position to percentages
  var centerXPercentage = (centerX / targetElement.width) * 100;
  var centerYPercentage = (centerY / targetElement.height) * 100;

  // Update transform origin and transform
  targetElement.style.transformOrigin = `${centerXPercentage}% ${centerYPercentage}%`;
  targetElement.style.transform = `scale(${newScale})`;
}

// Function to handle panning on mousemove
function doPan(event) {
    if (!event.shiftKey) {
        isPanning = false; // Reset the panning state if Shift key is not pressed
        document.body.classList.remove('shift-key-pressed'); // Remove the class when Shift is released
        return;
    }
    if (!isPanning) {
        // Initialize panning state and target element
        isPanning = true;
        startX = event.clientX;
        startY = event.clientY;
        targetElement = event.currentTarget;
        document.body.classList.add('shift-key-pressed'); // Add the class when Shift is pressed
        return;
    }
    var dx = event.clientX - startX;
    var dy = event.clientY - startY;
    targetElement.style.transform += ` translate(${dx}px, ${dy}px)`;
    startX = event.clientX;
    startY = event.clientY;
}

// Function to handle panning on mouseup
function endPan() {
    isPanning = false;
    document.body.classList.remove('shift-key-pressed'); // Ensure the class is removed when mouse is released
}

// Attach the zoom handler to the image buttons
var imageButtons = document.querySelectorAll('.button img');
imageButtons.forEach(function(img) {
    img.addEventListener('wheel', function(event) {
        targetElement = event.currentTarget;
        zoomOnMouseWheel(event);
    });
    img.addEventListener('mousemove', function(event) {
        if (event.shiftKey) {
            doPan(event);
        } else {
            isPanning = false; // Reset the panning state if Shift key is not pressed
            document.body.classList.remove('shift-key-pressed'); // Remove the class when Shift is released
        }
    });
    img.addEventListener('mouseup', endPan);
});
</script>

</body>
</html>